{% extends "vista.html"%}
{% block title %} Inventario Productos - Ddtech {% endblock %}

{% block content %}
<div class="container">
    <h1>Lista de proveedores:</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody onclick="selectItem(event)">
            <tr>
                {% for proveedor in proveedores %}
                	<td>{{ proveedor.id }}</td>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.direccion }}</td>
                    <td>{{ proveedor.telefono }}</td>
                    <td>{{ proveedor.email }}</td>
                    <td>
                        <div class="group-bouttons">
                            <a href={% url 'edit-provider' proveedor.id %} class="button">Editar</a>
                            <a href={% url 'delete-provider' proveedor.id %} class="buttondelete">Eliminar</a>
                        </div>
                    </td>
                {% endfor %}
            </tr>
            <!-- Repeat rows according to inventory data -->
        </tbody>
    </table>
</div>
{% endblock %}