{% extends "vista.html"%}
{% block title %} Inventario ubicaciones - Ddtech {% endblock %}

{% block content %}
<div class="container">
    <h1>Lista de ubicaciones:</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th></th>
            </tr>
        </thead>
        <tbody onclick="selectItem(event)">
            <tr>
                {% for ubicacion in ubicaciones %}
                	<td>{{ ubicacion.id }}</td>
                    <td>{{ ubicacion.nombre }}</td>
                    <td>{{ ubicacion.descripcion }}</td>
                    <td>
                        <div class="group-bouttons">
                            <a href={% url 'edit-location' ubicacion.id %} class="button">Editar</a>
                            <a href={% url 'delete-location' ubicacion.id %} class="buttondelete">Eliminar</a>
                        </div>
                    </td>
                {% endfor %}
            </tr>
            <!-- Repeat rows according to inventory data -->
        </tbody>
    </table>
</div>
{% endblock %}