<style>
    .navbar {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #007BFF;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .navbar a, .logo-link {
        color: white;
        text-decoration: none;
        padding: 8px 16px;
        margin: 0 5px;
        border-radius: 5px;
        font-size: 16px;
    }
    .logo-link img {
        vertical-align: middle;
        width: 50px;
    }
    .navbar a:hover, .logo-link:hover {
        background-color: #0056b3;
    }
</style>

<div class="navbar">
    <a href={% url 'index' %} class="logo-link"><img src="https://t0.gstatic.com/images?q=tbn:ANd9GcSOK_Inp670TMkHu9L6u1JVmYYf5lXfn0IlrLXS2AgpwskX7vgU" alt="Ddtech Logo"></a>
    <a href={% url 'add-product' %}>Agregar Componente</a>
    <a href={% url 'add-provider' %}>Agregar Proveedores</a>
    <a href={% url 'add-category' %}>Agregar Categorías</a>
    <a href={% url 'add-location' %}>Agregar Ubicación</a>
    <a href={% url 'vistas' %}>Visualizar Inventario</a>
</div>